html {
    padding: 0;
    margin: 0;
}


/*box group area*/

canvas {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg?resize=980:*");
    display: block;
    margin: 0, auto;
    display: block;
}