html {
    padding: 0;
    margin: 0;
    background-image: url("https://myyoungworldblog.files.wordpress.com/2019/11/space-signals-3246.jpg?w=1024");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: fantasy;
    background: -webkit-linear-gradient(grey, silver);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4 {
    font-family: fantasy;
    background: -webkit-linear-gradient(grey, silver);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*box group area*/

canvas {
    display: block;
    margin: 0, auto;
    padding: 3px;
    display: block;
    border: 5px;
    border-style: ridge;
    border-color: silver;
}